.header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-bottom: 100px;

  &__container {
    @extend %container;
  }

  &__nav {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    padding-top: 16px;
    padding-bottom: 8px;
    margin-bottom: 16px;
    width: auto;

    @include onPhone375 {
      margin-bottom: 24px;
    }

    @include onTablet768 {
      margin-bottom: 28px;
      padding: 23px 0;
    }

    @include onLaptop {
      margin-bottom: 34px;
    }

    @include onDesktop {
      margin-bottom: 72px;
      padding: 30px 0;
    }
  }

  &__logo-image {
    width: 56px;

    @include onTablet768 {
      width: 64px;
    }

    @include onTablet990 {
      width: 72px;
    }

    @include onDesktop {
      width: 96px;
    }
  }

  &__right-menu {
    display: flex;
    flex-direction: row;
    gap: 48px;
  }

  &__socials {
    display: none;

    @include onTablet768 {
      display: flex;
      flex-direction: row;
      gap: 24px;
      align-items: center;
    }
  }

  &__socials-link {
    width: 24px;
    opacity: $default-opacity;
    transition: opacity $default-transition ease-in-out;

    &:hover {
      opacity: 1;
    }
  }

  &__authorization {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 24px;
  }

  &__sign-up {
    align-self: flex-end;
    text-align: center;
    display: none;
    color: #fff;
    font-size: 16px;
    font-style: normal;
    padding-bottom: 10px;
    margin-bottom: 9px;
    font-weight: 600;
    line-height: 140%;
    text-decoration: none;
    opacity: $default-opacity;
    position: relative;
    overflow: hidden;
    transition: opacity $default-transition;
    cursor: pointer;

    &:before {
      content: "";
      position: absolute;
      width: 0;
      background: #fff;
      left: 45%;
      height: 1px;
      bottom: 0;
      transition: all $default-transition;
      opacity: 1;
    }

    &:hover {
      opacity: 1;
    }

    &:hover:before {
      width: 100%;
      left: 0;
    }

    @include onTablet768 {
      display: block;
    }

    @include onTablet990 {
      padding-bottom: 10px;
      margin-bottom: 13px;
    }

    @include onDesktop {
      padding-bottom: 16px;
      margin-bottom: 19px;
    }
  }

  &__sign-in {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 11px 24px;
    border-radius: 5px;
    font-weight: 500;
    color: #fff;
    border: 2px solid #fff;
    text-decoration: none;
    background: transparent;
    transition: all $default-transition ease-in-out;

    &:hover {
      color: black;
      background-color: #fff;
      box-shadow: 1px 4px 16px 0 rgba(232, 232, 240, 0.64);
    }

    @include onDesktop {
      padding: 16px 32px;
    }
  }
}
