.questions {
  &__title {
    color: #fff;
    text-align: center;
    font-size: 24px;
    font-style: normal;
    font-weight: 500;
    line-height: 140%;

    @include onTablet768 {
      text-align: left;
    }
  }

  &__list {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 24px;
    padding: 0;
  }

  &__item {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;
    border-bottom: 1px solid #606060;

    &:last-child {
      border-bottom: none;
      padding-bottom: 0;
    }
  }

  &__text {
    color: #fff;
    font-size: 16px;
    font-style: normal;
    font-weight: 400;
    line-height: 140%;
  }

  &__img {
    align-self: flex-start;
    width: 24px;
  }
}
